<h1 id="notice"><%= notice %></h1>
<p id="timer"> hello </p>
  <%= javascript_include_tag 'timer.js' %>
<h1>Goodbye Lalabye</h1>
<% if @formerproduct.present? %>
<h2>先ほどの商品は<%= link_to "#{@formerproduct.name}",product_path(@formerproduct)%></h2>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.detail %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Product', new_product_path %>
